<p>
    <a href="https://github.com/{{site.github}}/{{site.github}}.github.io/blob/master/{{ page.path }}"><i class="far fa-fw fa-file-code" aria-hidden="true"></i> {{ page.path }}</a>
    &nbsp;&mdash;&nbsp;
    <a href="javascript:disableColours()" id="bw-button"><i class="fas fa-fw fa-tint-slash" aria-hidden="true"></i> go neutral</a>
</p>
<p>
    <i class="far fa-fw fa-copyright" aria-hidden="true" title="Copyright"></i><span class="fa-sr-only">&copy; copyright</span> {{ site.time | date: '%Y' }} &mdash; Some Rights Reserved (<a href="https://github.com/{{site.github}}/{{site.github}}.github.io/blob/master/LICENSE">CC BY-SA</a>)
</p>