<p>
    <a href="https://github.com/{{site.github}}/trobinson.me/blob/master/{{ page.path }}" title="{{ page.path }}"><i class="far fa-fw fa-file-code" aria-hidden="true"></i> page source</a>
    &nbsp;&mdash;&nbsp;
    <a href="javascript:disableColours()" id="bw-button"><i class="fas fa-fw fa-tint-slash" aria-hidden="true"></i> Disable Colours</a>
</p>
<p class="smol">
    <!-- site year: {{ site.time | date: '%Y' }}, page year: {{ page.last_modified_at | date: '%Y' }} -->
    <a href="https://github.com/{{site.github}}/trobinson.me/blob/master/LICENSE" title="CC BY-SA License"><i class="fas fa-gavel fa-fw" aria-hidden="true"></i> Some Rights Reserved</a>
    &nbsp;&nbsp;<a href="/about/this-site/"><i class="fas fa-bookmark fa-fw" aria-hidden="true"></i> Colophon</a>
</p>