{% if page.image %}
    {% if page.layout == 'post' %}
        <!-- blog post w image -->
        {% include legacy/image_folder.html %}
        {% assign metaImageURL = /assets/img/posts/{{ post_img_folder }}/{{ page.image }} %}
    {% else %}
        <!-- page w image -->
        <!-- {{ page.image }} -->
        {% capture metaImageURL %}{{ page.image }}{% endcapture %}
        {% endif %}
{% else %}
    <!-- page w/o image, using fallback -->
    {% assign metaImageURL = "/assets/img/beachtommo.jpg" %}
{% endif %}

{% if page.author %}
    {% assign metaAuthor = {{ page.author }} %}
{% else %}
    {% assign metaAuthor = "Tom" %}
{% endif %}

<!-- page meta -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="language" content="en-GB">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="{% if page.hidden %}noindex, follow{% else %}index, follow{% endif %}">

<!-- seo -->
<meta name="title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ metaAuthor }}">
<!-- open graph -->
<meta property="og:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:author" content="{{ metaAuthor }}">
<meta property="og:image" content="{{ metaImageURL }}">
<!-- twitter cards -->
<meta name="twitter:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:creator" content="@itsmeimtom">
<meta name="twitter:author" content="{{ metaAuthor }}">
<meta name="twitter:image" content="{{ metaImageURL }}">

<!-- theme colour for accenting -->
<meta name="theme-color" content="#bfab8f">

<title>{% if page.notitle != true %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>

<link rel="shortcut icon" href="/assets/img/beachtommo.jpg" type="image/jpg">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="https://ka-f.fontawesome.com/releases/v6.0.0-beta1/css/free.min.css?token=a4db9daed8" defer>
<link rel="stylesheet" href="https://ka-f.fontawesome.com/releases/v6.0.0-beta1/css/free-v4-font-face.min.css?token=a4db9daed8" defer>

<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Merriweather:wght@700;900&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="/assets/style/main.css">

{% if page.head %}
{% for h in page.head %}
   {{ h }}
{% endfor %}
{% endif %}