<h1 id="site-title">
{% if page.permalink == '/' %}
  Hello, I'm Tom! <img src="/assets/img/twemoji-peace.png" alt="Emoji peace sign">
{% else %}
  {{ site.title }}
{% endif %}
</h1>

<nav>
  <ul>
    <li>
      <a href="/about/" {% if page.url == '/about/' %}class="current-page" {% endif %}> About</a><br>
    </li>
    <li>
      <a href="/projects/" {% if page.url == '/projects/' %}class="current-page" {% endif %}>Projects</a><br>
    </li>
    <li>
      <a href="/uses/" {% if page.url == '/uses/' %}class="current-page" {% endif %}>Uses</a><br>
    </li>

    <li>
      <a href="https://cv.trobinson.me">CV <i class="fas fa-external-link-alt" aria-hidden="true"></i><span class="sr-only">(external link)</span></a><br>
    </li>

    <li>
      <a href="https://wiki.tomr.me">Wiki <i class="fas fa-external-link-alt" aria-hidden="true"></i><span class="sr-only">(external link)</span></a><br>
    </li>
  </ul>

  <ul>
    <li>
      <a href="https://github.com/{{ site.github }}" class="social"><i class="fab fa-fw fa-github" aria-hidden="true"></i>gh</a><br>
    </li>
    <li>
      <a href="/flickr/" class="social {% if page.url contains '/flickr' %}current-page{% endif %}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i>fl</a><br>
    </li>
  </ul>
</nav>