<figure class="image {% if include.float %}float-{{ include.float }}{% endif %}"  {% if include.width or include.height %}style="{% if include.width %}width: {{ include.width }};{% endif %}{% if include.height %}height: {{ include.height }};{% endif %}"{% endif %}>
  <img src="{{ include.src }}" alt="{% if include.caption %}{{ include.caption | escape }}{% else %}{{ include.src }}{% endif %}" class="{% if include.caption %}has-caption{% endif %}">
  {% if include.caption %}<figcaption class="image-caption">{{ include.caption }}</figcaption>{% endif %}
</figure>
