// @function light-tint($col, $pc) { @return mix(#fff, $col, $pc); }
// @function dark-tint($col, $pc) { @return mix(#000, $col, $pc); }

@mixin in-light-mode() {
    @media (prefers-color-scheme: light) { @content; }
}
@mixin on-small-screen() {
    @media screen and (max-width: 80em) { @content; }
}
@mixin on-big-screen() {
    @media screen and (min-width: 80em) { @content; }
}

$fn-headings: 'Merriweather', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
$fn-copy: 'Merriweather Sans', 'Verdana', 'Tahoma', 'Helvetica', sans-serif;
$width: 40; // em

// grey is default, neutral
:root {
    --accentDark: #292524; // warm grey 800
    --accentDarkIsh: #44403C; // warm grey 700
    --accent: #A8A29E; // warm grey 400
    --accentLightIsh: #F5F5F4;  // warm grey 100 
    --accentLight: #FAFAF9;  // warm grey 50
}

$accentDarkIsh: var(--accentDarkIsh, #57534E);
$accentDark: var(--accentDark, #292524);
$accent: var(--accent, #A8A29E);
$accentLight: var(--accentLight, #FAFAF9);
$accentLightIsh: var(--accentLightIsh, #E7E5E4);

@import '_core.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_meta.scss';
@import '_pages.scss';