html {
    visibility: visible;
}

body {
    margin: 0;
    padding: 16px;
    overflow-x: hidden;

    background-color: $accentDark;
    color: $accentLight;

    @include in-light-mode {
        background-color: $accentLight;
        color: $accentDark;
    }

    font-size: 1.1em;
    font-family: $fn-copy;
    font-weight: 400;
    text-transform: lowercase;


    @include on-big-screen {
        &.wide {
            article.container {
                max-width: calc(100% - 16px);
            }
        }

        &.wide-ish {
            article.container  {
                max-width: #{$width * 1.25}em;
            }
        }
    }
}


a#a11y-skip {
    position: absolute;
    left: -100%;
    top: 1em;

    transition: left 0.1s ease-out;

    &:focus {
        left: 1em;
    }
}

span#after-nav {
    font-size: 0;
    opacity: 0;
}


h1,
h2,
h3,
h4 {
    font-family: $fn-headings;
    margin-bottom: 0;
}

h1 {
    // 900 for serif, 800 for sans
    // font-weight: 800;
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

p {
    margin-top: 0;
}

a {
    color: $accentLightIsh;

    @include in-light-mode {
        color: $accentDarkIsh;
    }

    &[href] {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            background-color: $accentLight;
            color: $accentDark;

            @include in-light-mode {
                background-color: $accentDark;
                color: $accentLight;
            }
        }
    }
}

a.button {
    display: inline-block;
    padding: 8px;

    text-decoration: none;

    color: $accentLightIsh;
    @include in-light-mode {
        color: $accentDarkIsh;
    }

    border: 2px solid $accent;
    &.big-border {
        border-width: 4px;
    }
    border-radius: 2px;

    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    span.moving-icon {
        display: inline-block;
        padding-right: 4px;
        transition: margin-left 0.2s ease-out, padding-right 0.2s ease-out;
    }

    &:hover, &:focus {
        color: $accentDarkIsh;
        background-color: $accentLight;

        @include in-light-mode {
            color: $accentLightIsh;
            background-color: $accentDark;
        }

        span.moving-icon {
            padding-right: 0px;
            margin-left: 4px;
        }
    }
}

hr {
    background-color: $accent;
    // background: linear-gradient(90deg,
    // rgba(214, 2, 112, 1) 0%,
    // rgba(155, 79, 150, 1) 50%,
    // rgba(0, 56, 168, 1) 100%);
    border: none;
    border-radius: 1px;
    padding: 1px 0;
    max-width: #{$width / 5}em;
}

article.container {
    max-width: #{$width}em;
    margin: 0 auto;
}

main {
    text-transform: none;

    h1,
    h2,
    h3,
    h4 {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    img {
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    ul li:not(:first-child) {
        margin-top: 0.25em;
    }

    figure.image {
        @include on-big-screen {
            &.float-right {
                float: right;
                margin: 1em 0 1em 1em;
            }

            &.float-left {
                float: left;
                margin: 1em 1em 1em 0em;
            }
        }

        figcaption.image-caption {
            font-style: italic;
        }

        img {
            width: 100%;
        }
    }

}