footer {
    max-width: #{$width}em;
    margin: 2em auto;
    padding: 1em 0;

    background-color: dark-tint($accent, 90%);
    @include in-light-mode {
        background-color: light-tint($accent, 90%);
    }

    text-align: center;
    font-size: 0.8em;
    border-radius: 4px;

    opacity: 0.8;
    &:hover { opacity: 1; }

    p {
        margin: 0;

        &.smol {
            margin-top: 4px;
            
            font-size: 0.8em;
            opacity: 0.8;

            a:last-of-type {
                font-style: italic;
            }
        }
    }

    a[href] {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}