header {
    // max-width: #{$width}em;
    // margin: 0 auto;

    // padding-left: 8px;
    // border-left: 4px solid $accent;

    max-width: calc(#{$width}em - 2em);
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0 0 4px 4px;

    background-color: $accentDarkIsh;
    @include in-light-mode {
        background-color: $accentDarkIsh;
    }

    h1 {
        margin: 0;
        font-family: $fn-headings;
        font-size: 1.5em;
        font-weight: 900;
        color: $accent;

        @include on-small-screen {
            font-size: 2em;
        }

        img {
            height: 1em;
            position: relative;
            top: 2px;
        }
    }

    nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: none;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
    
            li {
                display: inline-block;
                padding: 0;
    
                @include on-big-screen {
                    &:not(:first-of-type) {
                        margin-left: 8px;
                    }
                }
    
                @include on-small-screen {
                    margin: 4px 0;
                }
    
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $accentLightIsh;

                    &[href], &[href]:hover {
                        text-decoration: none;
                    }
                    
                    @include on-big-screen {
                        padding-bottom: 2px;
                        border-bottom: 2px solid $accent;

                        @include in-light-mode {
                            border-bottom: 2px solid $accent;
                        }
                    }

                    @include on-small-screen {
                        padding: 4px;
                    }
    
                    i.fa-external-link-alt {
                        font-size: 0.4em;
                        vertical-align: super;
                    }
            
                    &:hover,
                    &.current-page {
                        color: $accent;
                        
                        @include on-big-screen {
                            border-bottom: 2px solid $accent;
                        }
                        @include on-small-screen {
                            &:not(.social) {
                                padding-left: 8px;
                                border-left: 4px solid $accent;
                            }
                            &.social {
                                padding-right: 8px;
                                border-right: 4px solid $accent;
                            }
                        }
                    }
                }
            }
    
            @include on-small-screen {
                flex-direction: column;
    
                li {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

aside#bi-bar {
    display: block;
    max-width: #{$width}em;
    margin: 0 auto;
    height: 2px;
    background-color: $accent;
    // background-color: #d60270;
    // background: linear-gradient(90deg, #d60270 0%, #9b4f96 50%, #0038a8 100%);
    border-radius: 0;

    &.bent {
        background: linear-gradient(90deg, #d60270 0%, #9b4f96 50%, #0038a8 100%);
        // background: linear-gradient(to right,orange,yellow,green,cyan,blue,violet);
    }
}