header#page-meta, header#post-meta {
    // max-width: #{$width}em;
    margin: 1em auto;
    padding-top: 1em;

    h1 {
        color: $accentLightIsh;
        @include in-light-mode {
            color: $accentDarkIsh
        }

        margin: 0;
        font-size: 2.5em;
    }

    h2 {
        color: $accentLightIsh;
        @include in-light-mode {
            color: $accentDarkIsh
        }
        
        margin-top: 0;
        font-size: 1.75em;
    }

    img {
        position: relative;
        width: 100%;
        border-radius: 8px 8px 0 0;
        
        mask-image: linear-gradient(to bottom, #000 0%, transparent 80%);
        -webkit-mask-image: linear-gradient(to bottom, #000 0%, transparent 80%);
        
        margin-top: 1em;
        margin-bottom: -3em;

        z-index: -1;

        filter: saturate(1.2) contrast(1.2);

        @include on-big-screen {
            transform: scale(1.25);
            margin-top: 1.5em;
            margin-bottom: -6em;
        }
    }

    h3 {
        font-size: 1em;
    }
}