// most of this copied from old site

.note {
    position: sticky;
    top: 0;
    margin: 0.5em 0;
    padding: 8px;

    background-color: #111;
    color: #efefef;

    p {
        margin: 0;
    }

    &.medium {
        border: 4px solid green;
        background-color: darkgreen;
    }

    &.info {
        border: 4px solid blue;
        background-color: darkblue;
    }

    &.warn {
        border: 4px solid red;
        background-color: darkred;
    }
}

body#projects {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li.project {
            margin: 16px 0;
            padding-left: 16px;
            border-left: 8px solid light-tint($accent, 25%);

            &:nth-child(even) {
                border-left-color: dark-tint($accent, 25%);
            }

            a.project-title {
                display: block;
                font-size: 2em;
                // color: inherit;
                // transition: color 0.2s;

                &[href] i {
                    font-size: 0.4em;
                    vertical-align: super;
                }

                &[href]:hover {
                    text-decoration: none;
                    color: $accent;
                }
            }

            span.project-langs {
                // opacity: 1;

                span.lang {
                    display: inline-block;
                    margin: 0 2px;

                    &.lang-js {
                        color: #7f720f;
                    }

                    &.lang-php {
                        color: #5b627f;
                    }

                    &.lang-jekyll {
                        color: #7f3333;
                    }

                    &.lang-py {
                        color: #305b7f;
                    }
                }

                a[href] {
                    opacity: 0.8;
                }
            }

            p {
                margin-top: 0.5em;
            }
        }
    }
}


body#flickr_map {
    div#yeahyeahyeahs {
        opacity: 0.1;
        pointer-events: none;
        transition: opacity 1s;
        z-index: 9999;
        border: 2px solid dark-tint($accent, 50%);
        border-radius: 8px;
    }

    .leaflet-control-attribution {
        text-align: right;
        background-color: #0009 !important;
        color: #aaa;
        border-top-left-radius: 4px;
        padding: 2px 4px;

        a {
            color: #00BFFF;
        }

        span.map-fullscreen-button {
            float: right;
            font-size: 2.1em;
            margin-left: 4px;

            a {
                color: #87ceeb;
            }
        }
    }

    a.marker-photo-link {
        text-align: center;
        width: 10vw;
        display: inline-block;

        &:hover span.marker-photo-date,
        &:hover span.marker-photo-title {
            text-decoration: underline;
        }

        img {
            border-radius: 0;
            padding: 0;
            margin: 0 auto;
            width: 100%;
        }

        span.marker-photo-date,
        span.marker-photo-title {
            display: inline-block;
            width: 100%;
        }

        span.marker-photo-title {
            margin-top: 4px;
            color: #fff;
            font-size: 1.2em;
            font-weight: bold;
        }

        span.marker-photo-date {
            color: #eee;
            font-size: 1em;
        }
    }

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
        background-color: #111e;
        color: #eee;
    }

    .leaflet-marker-icon {
        border-radius: 25%;
        opacity: 0.8;
        border: 2px solid #000;
    }



}

body#flickr_stn_map {
    iframe {
        width: 100%;
        height: 80vh;
        border: none;
        border-radius: 8px;
    }
}

@media screen and (max-width: 80em) {
    body#flickr_map {
        a.marker-photo-link {
            width: 50vw;
        }
    }
}