---
layout: default
title: Projects & Things
description: Neat stuff I've made, done and created
permalink: /projects/
image: /assets/img/pages/projects.png
id: projects
menus:
  header:
    title: Projects
    weight: 10
    identifier: projects
---

<ul>
    {% assign sortedProjects = site.projects | sort: "ordering" %}
    {% for p in sortedProjects %}
        <li class="project">
            <h3 class="project-title">
                {% if p.overwritelink %}
                    {% assign linkTo = p.overwritelink %}
                {% else %}
                    {% assign linkTo = p.url %}
                {% endif %}
                <a href="{{ linkTo }}">
                    <span class="project-name">{{ p.title }}</span>

                    {% if p.overwritelink %}
                        <i class="fas fa-external-link-alt" aria-hidden="true"></i><span class="sr-only">(external link)</span>
                    {% endif %}

                    {% if p.lang %}
                    <span class="project-langs">
                        written with {{ p.lang }}
                    </span>
                    {% endif %}
                </a>


            </h3>
            <p class="project-desc">{{ p.longdescription }}</p>
        </li>
    {% endfor %}
</ul>

<hr>

<h2>Older Projects</h2>
<p>Quality nor source code guaranteed.</p>
<ul>
    <li><a href="/ofqualgradecalculator" target="_blank" rel="noopener noreferrer">2020 Ofqual Grade Calculator</a></li>
    <li><a href="/redditunsubinactive" target="_blank" rel="noopener noreferrer">Unsubscribe from Inactive Subreddits</a> (<a href="https://github.com/{{site.github}}/redditunsubinactive" target="_blank" rel="noopener noreferrer">code</a>)</li>
    <li><a href="/ubuntucodenamegen" target="_blank" rel="noopener noreferrer">Ubuntu Codename Generator</a> (<a href="https://github.com/{{site.github}}/ubuntucodenamegen ">code</a>)</li>
    <li><a href="/n3soundboard" target="_blank" rel="noopener noreferrer">NerdCubed Soundboard</a></li>
    <li><a href="/skyepg" target="_blank" rel="noopener noreferrer">Sky EPG Recreation</a></li>
    <li><a href="/flickr-mm" target="_blank" rel="noopener noreferrer">Flickr Average Focal Length Calculator</a> (<a href="https://github.com/{{site.github}}/flickr-mm" target="_blank" rel="noopener noreferrer">code</a>)</li>
    <li><a href="/shesaid" target="_blank" rel="noopener noreferrer">1975 (She Said)</a></li>
    <li><a href="/regplates" target="_blank" rel="noopener noreferrer">Reg Plates</a> &amp; <a href="/roadsigns" target="_blank" rel="noopener noreferrer">Roadsigns</a></li>
</ul>

<hr>

<h3>Looking for something not listed here?</h3>
<p>It might be floating around on <a href="https://github.com/{{ site.github }}">GitHub</a>! Do get in touch if there's something you want to see that's missing.</p>