---
layout: default
---

{{ content }}

<!-- all this code is from old site (ew) -->
<script src="/assets/script/posts.js"></script>
<script src="https://app.trobinson.me/blog-viewcounter/get.php?post={{ page.date | date: '%Y'  }}-{{ page.slug }}&callback=true"></script>

<form id="viewcounter_form" action="https://app.trobinson.me/blog-viewcounter/add.php" method="get" style="display: none;" target="viewcounter_frame">
  <input type="text" name="post" value="{{ page.date | date: '%Y'  }}-{{ page.slug }}" hidden="hidden" readonly="readonly">
</form>
<iframe style="display: none;" name="viewcounter_frame" id="viewcounter_frame"></iframe>
